<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'homework.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="./" method="POST">
        <div class = "container">
            <div class = "title">作業登記</div>
            <div class = "subject">作業名稱：<input type="text" name="subject"></div>
            {% csrf_token %}
            {% for ele in student %}
            <div class = "box">
                {{ele.name}} <input type="number" min = "0" max = "2" class = "input_number" name = "{{ele.number}}">
            </div>
            {% endfor %}
            <br><br>
            <div class="buttonContainer">
                <input type="submit" value="確定" class = "submitButton">
                <a href="./../home" class="returnButton">返回</a>
            </div>
            <input type="text" value='hw' style="display: none;" name="postType">
        </div>
    </form>
    <script></script>
</body>
</html>