<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <a class = "rollcall" href="./rollcall">點名</a>
    <a class = "homework" href="./homework">作業</a>
    <a class = "grade" href="./gradeView">成績總覽</a>
    {% if message.notify %}
    <script>
        alert("點名成功!")
    </script>
    {% endif %}
</body>
</html>