<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <a class = "rollcall" href="./rollcall">點名</a>
    <a class = "homework" href="./homework">作業</a>
    <a class = "grade" href="./gradeView">成績總覽</a>
    <a class = "studentManage" href="./studentManage">修課學生管理</a>
    {% if message.notify == 'rc'%}
    <script>
        alert("點名成功!")
    </script>
    {% elif message.notify == 'hw' %}
    <script>
        alert("作業成績寄送成功!")
    </script>
    {% elif message.notify == 'grade_rc' %}
    <script>
        alert("點名總成績寄送成功!")
    </script>
    {% elif message.notify == 'grade_hw' %}
    <script>
        alert("作業總成績寄送成功!")
    </script>
    {% elif message.notify == 'insert' %}
    <script>
        alert("新增學生成功!")
    </script>
    {% elif message.notify == 'delete' %}
    <script>
        alert("刪除學生成功!")
    </script>
    {% endif %}
</body>
</html>