<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'rollcall.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="./rollcall/send" method="POST">
        <div class = "container">
            {% csrf_token %}
            {% for ele in student %}
            <div class = "box">
                <input type="checkbox" name="{{ele.number}}"> {{ele.name}}
            </div>
            {% endfor %}
            <br><br>
            <input type="submit" value="確定">
        </div>
    </form>
</body>
</html>