<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'gradeView.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="./" method="POST">
        <div class = "container">
            <div class = "title">學生總成績</div>
            <div class = 'boxContainer'>
                <div class="box titleBox">
                    <div class = "element">學號</div>
                    <div class = "element">點名</div>
                    <div class = "element">作業</div>
                </div>
                <div class="box titleBox">
                    <div class = "element">學號</div>
                    <div class = "element">點名</div>
                    <div class = "element">作業</div>
                </div>
                {% csrf_token %}
                {% for ele in student %}
                <div class = "box">
                    <div class = "element">{{ele.name}}</div>
                    <div class = "element">{{ele.rc}}</div>
                    <div class = "element">{{ele.hw}}</div>
                </div>
                {% endfor %}
                <br><br>
                <div class="buttonContainer">
                    <input type="submit" value="送出點名總成績" class = "submitButton" name='rcButton'>
                    <input type="submit" value="送出作業總成績" class = "submitButton" name='hwButton'>
                    <a href="./../home" class="returnButton">返回</a>
                </div>
            </div>
        </div>
        <input type="text" value='grade' style="display: none;" name="postType">
    </form>
    <script></script>
</body>
</html>